<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Karma Admin - @ViewBag.Title</title>
    <link rel="icon" href="~/assets/main/img/fav.png" type="image/png">

    <link rel="stylesheet" href="~/assets/admin/css/bootstrap1.min.css" />

    <link rel="stylesheet" href="~/assets/admin/vendors/themefy_icon/themify-icons.css" />

    <link rel="stylesheet" href="~/assets/admin/vendors/niceselect/css/nice-select.css" />

    <link rel="stylesheet" href="~/assets/admin/vendors/owl_carousel/css/owl.carousel.css" />

    <link rel="stylesheet" href="~/assets/admin/vendors/gijgo/gijgo.min.css" />

    <link rel="stylesheet" href="~/assets/admin/vendors/font_awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/assets/admin/vendors/tagsinput/tagsinput.css" />

    <link rel="stylesheet" href="~/assets/admin/vendors/datepicker/date-picker.css" />

    <link rel="stylesheet" href="~/assets/admin/vendors/scroll/scrollable.css" />

    <link rel="stylesheet" href="~/assets/admin/vendors/datatable/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/assets/admin/vendors/datatable/css/responsive.dataTables.min.css" />
    <link rel="stylesheet" href="~/assets/admin/vendors/datatable/css/buttons.dataTables.min.css" />

    <link rel="stylesheet" href="~/assets/admin/vendors/text_editor/summernote-bs4.css" />

    <link rel="stylesheet" href="~/assets/admin/vendors/morris/morris.css">

    <link rel="stylesheet" href="~/assets/admin/vendors/material_icon/material-icons.css" />

    <link rel="stylesheet" href="~/assets/admin/css/metisMenu.css">

    <link rel="stylesheet" href="~/assets/admin/css/style1.css" />
    <link rel="stylesheet" href="~/assets/admin/css/colors/default.css" id="colorSkinCSS">
    <script src="~/assets/admin/js/jquery1-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
</head>

<body class="crm_body_bg">
    <nav class="sidebar vertical-scroll  ps-container ps-theme-default ps-active-y">
        <div class="logo d-flex justify-content-between">
            <a href="index.html"><img src="~/assets/main/img/logo.png" alt></a>
            <div class="sidebar_close_icon d-lg-none">
                <i class="ti-close"></i>
            </div>
        </div>

        <ul id="sidebar_menu">

            <li class="@(TempData["active"].ToString() == "dashboard" ? "mn-active" : "")">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="icon_menu">
                        <img src="~/assets/admin/img/menu-icon/dashboard.svg" alt>
                    </div>
                    <span>Dashboard</span>
                </a>
                <ul>
                    <li><a class="@(TempData["activeTab"].ToString() == "home"  ? "active" : "")" href="@Url.Action("index", "Admin")">Home</a></li>
                </ul>
            </li>


            <li class="@(TempData["active"].ToString() == "slider" ? "mn-active" : "")">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="icon_menu">
                        <img src="~/assets/admin/img/menu-icon/5.svg" alt>
                    </div>
                    <span>Slider</span>
                </a>
                <ul>
                    <li><a class="@(TempData["activeTab"].ToString() == "addslider" ? "active" : "")" href="@Url.Action("addslider", "Admin")">Add Slider</a></li>
                    <li><a class="@(TempData["activeTab"].ToString() == "sliderslist" ? "active" : "")" href="@Url.Action("listslider", "Admin")">Sliders List</a></li>
                </ul>
            </li>

            <li class="@(TempData["active"].ToString() == "product" ? "mn-active" : "")">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="icon_menu">
                        <img src="~/assets/admin/img/menu-icon/9.svg" alt>
                    </div>
                    <span>Product</span>
                </a>
                <ul>
                    <li><a class="@(TempData["activeTab"].ToString() == "addproduct" ? "active" : "")" href="@Url.Action("addproduct", "Admin")">Add Product</a></li>
                    <li><a class="@(TempData["activeTab"].ToString() == "productlist" ? "active" : "")" href="@Url.Action("listproduct", "Admin")">Products List</a></li>
                </ul>
            </li>

            <li class="@(TempData["active"].ToString() == "Category" ? "mn-active" : "")">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="icon_menu">
                        <img src="~/assets/admin/img/menu-icon/2.svg" alt>
                    </div>
                    <span>Category</span>
                </a>
                <ul>
                    <li><a class="@(TempData["activeTab"].ToString() == "addCategory" ? "active" : "")" href="@Url.Action("addcategory", "Admin")">Add Category</a></li>
                    <li><a class="@(TempData["activeTab"].ToString() == "Categorylist" ? "active" : "")" href="@Url.Action("listcategory", "Admin")">Category List</a></li>
                </ul>
            </li>



            <li class="@(TempData["active"].ToString() == "Category" ? "mn-active" : "")">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="icon_menu">
                        <img src="~/assets/admin/img/menu-icon/2.svg" alt>
                    </div>
                    <span>Order</span>
                </a>
                <ul>
                    <li><a class="@(TempData["activeTab"].ToString() == "olist" ? "active" : "")" href="@Url.Action("listorders", "Admin")">Order List</a></li>
                </ul>
            </li>
            

            <li class="@(TempData["active"].ToString() == "Category" ? "mn-active" : "")">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="icon_menu">
                        <img src="~/assets/admin/img/menu-icon/2.svg" alt>
                    </div>
                    <span>Contact</span>
                </a>
                <ul>
                    <li><a class="@(TempData["activeTab"].ToString() == "olist" ? "active" : "")" href="@Url.Action("ListContact", "Admin")">Contact List</a></li>
                </ul>
            </li>
            

            <li class="@(TempData["active"].ToString() == "Category" ? "mn-active" : "")">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="icon_menu">
                        <img src="~/assets/admin/img/menu-icon/2.svg" alt>
                    </div>
                    <span>User</span>
                </a>
                <ul>
                    <li><a class="@(TempData["activeTab"].ToString() == "olist" ? "active" : "")" href="@Url.Action("ListUsers", "Admin")">User List</a></li>
                </ul>
            </li>

        </ul>
    </nav>

    <section class="main_content dashboard_part large_header_bg">

        <div class="container-fluid g-0">
            <div class="row">
                <div class="col-lg-12 p-0 ">
                    <div class="header_iner d-flex justify-content-between align-items-center">
                        <div class="sidebar_icon d-lg-none">
                            <i class="ti-menu"></i>
                        </div>
                        <div class="serach_field-area d-flex align-items-center">
                            <div class="search_inner">
                                <form action="#">
                                    <div class="search_field">
                                        <input type="text" placeholder="Search here...">
                                    </div>
                                    <button type="submit"> <img src="~/assets/admin/img/icon/icon_search.svg" alt> </button>
                                </form>
                            </div>
                            <span class="f_s_14 f_w_400 ml_25 white_text text_white">Apps</span>
                        </div>
                        <div class="header_right d-flex justify-content-between align-items-center">
                            @*<div class="header_notification_warp d-flex align-items-center">
                                <li>
                                    <a class="bell_notification_clicker nav-link-notify" href="#">
                                        <img src="~/assets/admin/img/icon/bell.svg" alt>
                                    </a>

                                    <div class="Menu_NOtification_Wrap">
                                        <div class="notification_Header">
                                            <h4>Notifications</h4>
                                        </div>
                                        <div class="Notification_body">

                                            <div class="single_notify d-flex align-items-center">
                                                <div class="notify_thumb">
                                                    <a href="#"><img src="~/assets/admin/img/staf/2.png" alt></a>
                                                </div>
                                                <div class="notify_content">
                                                    <a href="#"><h5>Cool Marketing </h5></a>
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div>
                                            </div>

                                            <div class="single_notify d-flex align-items-center">
                                                <div class="notify_thumb">
                                                    <a href="#"><img src="img/staf/4.png" alt></a>
                                                </div>
                                                <div class="notify_content">
                                                    <a href="#"><h5>Awesome packages</h5></a>
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div>
                                            </div>

                                            <div class="single_notify d-flex align-items-center">
                                                <div class="notify_thumb">
                                                    <a href="#"><img src="img/staf/3.png" alt></a>
                                                </div>
                                                <div class="notify_content">
                                                    <a href="#"><h5>what a packages</h5></a>
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div>
                                            </div>

                                            <div class="single_notify d-flex align-items-center">
                                                <div class="notify_thumb">
                                                    <a href="#"><img src="img/staf/2.png" alt></a>
                                                </div>
                                                <div class="notify_content">
                                                    <a href="#"><h5>Cool Marketing </h5></a>
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div>
                                            </div>

                                            <div class="single_notify d-flex align-items-center">
                                                <div class="notify_thumb">
                                                    <a href="#"><img src="img/staf/4.png" alt></a>
                                                </div>
                                                <div class="notify_content">
                                                    <a href="#"><h5>Awesome packages</h5></a>
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div>
                                            </div>

                                            <div class="single_notify d-flex align-items-center">
                                                <div class="notify_thumb">
                                                    <a href="#"><img src="img/staf/3.png" alt></a>
                                                </div>
                                                <div class="notify_content">
                                                    <a href="#"><h5>what a packages</h5></a>
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="nofity_footer">
                                            <div class="submit_button text-center pt_20">
                                                <a href="#" class="btn_1">See More</a>
                                            </div>
                                        </div>
                                    </div>

                                </li>
                            </div>*@
                            <div class="profile_info">
                                <img src="~/assets/admin/img/client_img.png" alt="#">
                                <div class="profile_info_iner">
                                    <div class="profile_author_name">
                                        <p>Admin </p>
                                        <h5>@Session["User_Name"]</h5>
                                    </div>
                                    <div class="profile_info_details">
                                        @*<a href="#">My Profile </a>
                                            <a href="#">Settings</a>*@
                                        <a href="@Url.Action("logout","home")">Log Out </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main_content_iner ">

            @RenderBody()
        </div>

        <div class="footer_part">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer_iner text-center">
                            <p>@DateTime.Now.Year.ToString() © - Designed by <a href="#"> <i class="ti-heart"></i> </a><a href="#"> Muhammad Farhan Atif</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div id="back-top" style="display: none;">
        <a title="Go to Top" href="#">
            <i class="ti-angle-up"></i>
        </a>
    </div>

</body>

</html>





<script src="~/assets/admin/js/jquery1-3.4.1.min.js"></script>

<script src="~/assets/admin/js/popper1.min.js"></script>

<script src="~/assets/admin/js/bootstrap1.min.js"></script>

<script src="~/assets/admin/js/metisMenu.js"></script>

<script src="~/assets/admin/vendors/count_up/jquery.waypoints.min.js"></script>

<script src="~/assets/admin/vendors/chartlist/Chart.min.js"></script>

<script src="~/assets/admin/vendors/count_up/jquery.counterup.min.js"></script>

<script src="~/assets/admin/vendors/niceselect/js/jquery.nice-select.min.js"></script>

<script src="~/assets/admin/vendors/owl_carousel/js/owl.carousel.min.js"></script>

<script src="~/assets/admin/vendors/datatable/js/jquery.dataTables.min.js"></script>
<script src="~/assets/admin/vendors/datatable/js/dataTables.responsive.min.js"></script>
<script src="~/assets/admin/vendors/datatable/js/dataTables.buttons.min.js"></script>
<script src="~/assets/admin/vendors/datatable/js/buttons.flash.min.js"></script>
<script src="~/assets/admin/vendors/datatable/js/jszip.min.js"></script>
<script src="~/assets/admin/vendors/datatable/js/pdfmake.min.js"></script>
<script src="~/assets/admin/vendors/datatable/js/vfs_fonts.js"></script>
<script src="~/assets/admin/vendors/datatable/js/buttons.html5.min.js"></script>
<script src="~/assets/admin/vendors/datatable/js/buttons.print.min.js"></script>
<script src="~/assets/admin/js/chart.min.js"></script>

<script src="~/assets/admin/vendors/progressbar/jquery.barfiller.js"></script>

<script src="~/assets/admin/vendors/tagsinput/tagsinput.js"></script>

<script src="~/assets/admin/vendors/text_editor/summernote-bs4.js"></script>
<script src="~/assets/admin/vendors/am_chart/amcharts.js"></script>

<script src="~/assets/admin/vendors/scroll/perfect-scrollbar.min.js"></script>
<script src="~/assets/admin/vendors/scroll/scrollable-custom.js"></script>
<script src="~/assets/admin/vendors/chart_am/core.js"></script>
<script src="~/assets/admin/vendors/chart_am/charts.js"></script>
<script src="~/assets/admin/vendors/chart_am/animated.js"></script>
<script src="~/assets/admin/vendors/chart_am/kelly.js"></script>
@*<script src="~/assets/admin/vendors/chart_am/chart-custom.js"></script>*@

<script src="~/assets/admin/js/custom.js"></script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>