@model IEnumerable<shoes.Models.Cart>

@{
    ViewBag.Title = "Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    double totalPrice = 0.0;
}


<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="@Url.Action("index","Home")">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="@Url.Action("cart","Home")">Cart</a>
                </nav>
            </div>
        </div>
    </div>
</section>


<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="~/assets/uploads/Products/@item.P_Pic" width="100" height="80vh" alt="">
                                        </div>
                                        <div class="media-body">
                                            <p>@item.P_Name</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>Rs.@item.P_Price.00</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="text" name="qty" id="sst" maxlength="@item.stock" min="1" value="@item.qty" title="Quantity:"
                                               class="input-text qty">
                                        <button onclick="
                                                var result=document.getElementById('sst');
                                                var sst=parseInt(result.value);
                                                var stock=parseInt('@item.stock');
                                                sst < @item.stock ? increse_pro_quantity(@item.P_ID) : ''; "
                                            class="increase items-count" type="button">
                                            <i class="lnr lnr-chevron-up"></i>
                                        </button>
                                        <button onclick="
                                                var result=document.getElementById('sst');
                                                var sst=parseInt(result.value);
                                                var stock=parseInt('@item.stock');
                                                @item.qty > 1 ? dcs_pro_quantity(@item.P_ID) : '';
                                            " class="reduced items-count" type="button">
                                            <i class="lnr lnr-chevron-down"></i>
                                        </button>





                                    </div>
                                </td>
                                <td>
                                    <h5>Rs.@item.P_Totalprice.00</h5>
                                </td>
                                <td>

                                    <button onclick="delete_pro(@item.P_ID)" class="reduced items-count" type="button">
                                        <i class="lnr lnr-cross"></i>
                                    </button>
                                </td>
                            </tr>
                            totalPrice += item.P_Totalprice;
                        }
                        <tr class="bottom_button">
                            <td>
                                <a class="gray_btn" href="@Url.Action("cart","Home")">Update Cart</a>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5>Rs.@totalPrice.00</h5>
                            </td>
                        </tr>

                        <tr class="out_button_area">
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn" href="@Url.Action("shop","Home")">Continue Shopping</a>
                                    <a class="primary-btn" href="@Url.Action("checkout","Home")">Proceed to checkout</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>