@model shoes.Models.MultipleTableClass

@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
    double totalPrice = 0.0;

}
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Checkout</h1>
                <nav class="d-flex align-items-center">
                    <a href="@Url.Action("Index","Home")">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="@Url.Action("cart","Home")">Shopping Cart<span class="lnr lnr-arrow-right"></span></a>
                    <a href="@Url.Action("checkout","Home")">Checkout</a>
                </nav>
            </div>
        </div>
    </div>
</section>

@using (Html.BeginForm("Checkout", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    <section class="checkout_area section_gap">
        <div class="container">

            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Billing & Shipping Details</h3>

                        @Html.AntiForgeryToken()
                        <form novalidate="novalidate" class="row contact_form">
                            <div class="col form-group p_star">
                                <input type="text" class="form-control" id="company" name="F_name" placeholder="First name *" required >
                            </div>
                            <div class="col form-group p_star">
                                <input type="text" class="form-control" id="company" name="L_name" placeholder="Last name *" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="company" name="company" placeholder="Company name" value="@Session["User_Mail"]" readonly>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="number" class="form-control" min="1" maxlength="11" id="company" name="num" placeholder="Contact Number *" required>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="company" name="add" placeholder="Address *" required>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="company" name="city" placeholder="Town/City *" required>
                       
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="zip" name="zip" placeholder="Postcode/ZIP *" required>
                            </div>
                        </form>
                     </div>
                    <div class="col-lg-4">
                        <div class="order_box">
                            <h2>Your Order</h2>
                            <ul class="list">
                                <li><a href="#">Product <span>Total</span></a></li>
                                @foreach (var item in Model.cart)
                                {
                                    <li>
                                        <a href="@Url.Action("shopdetail", "home", new { @id = item.P_ID })">@item.P_Name <span class="middle">x @item.qty</span> <span class="last">Rs.@item.P_Totalprice.00</span></a>
                                    </li>
                                    totalPrice += item.P_Totalprice;
                                }
                            </ul>
                            <ul class="list list_2">
                                <li><a href="#">Subtotal <span>Rs.@totalPrice.00</span></a></li>
                                <li><a href="#">Shipping <span>Flat rate: Rs. 250.00</span></a></li>
                                <li><a href="#">Total <span>Rs.@(totalPrice + 250).00</span></a></li>
                            </ul>
                            <div class="creat_account">
                                <input type="checkbox" id="f-option4" name="selector" required>
                                <label for="f-option4">I’ve read and accept the </label>
                                <a href="#">terms & conditions*</a>
                            </div>
                            @*<a class="primary-btn" href="@Url.Action("confirmation", "home")">Confirm & Proceed</a>*@
                            <button class="btn primary-btn" type="submit">Confirm & Proceed</button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
}