@model IEnumerable<shoes.Models.Cart>

@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    double totalPrice = 0.0;
}

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Order Confirmation</h1>
                <nav class="d-flex align-items-center">
                    <a href="@Url.Action("Index","Home")">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="@Url.Action("cart","Home")">Shopping Cart<span class="lnr lnr-arrow-right"></span></a>
                    <a href="@Url.Action("checkout","Home")">Checkout<span class="lnr lnr-arrow-right"></span></a>
                    <a href="@Url.Action("confirmation","Home")">Confirmation</a>
                </nav>
            </div>
        </div>
    </div>
</section>


<section class="order_details section_gap">
    <div class="container">
        <h3 class="title_confirmation">Thank you. Your order has been received.</h3>
        <div class="row order_d_inner">
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Order Info</h4>
                    <ul class="list">
                        <li><a href="#"><span>Order number</span> : @Session["OrderID"]</a></li>
                        <li><a href="#"><span>Date</span> : @DateTime.Now</a></li>
                        <li><a href="#"><span>Payment method</span> : Cash On Delivery</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Billing Address</h4>
                    <ul class="list">
                        <li><a href="#"><span>Address</span> : @ViewBag.address</a></li>
                        <li><a href="#"><span>City</span> : @ViewBag.city</a></li>
                        <li><a href="#"><span>Postcode </span> : @ViewBag.zip</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="details_item">
                    <h4>Shipping Address</h4>
                    <ul class="list">
                        <li><a href="#"><span>Address</span> : @ViewBag.address</a></li>
                        <li><a href="#"><span>City</span> : @ViewBag.city</a></li>
                        <li><a href="#"><span>Postcode </span> : @ViewBag.zip</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="order_details_table">
            <h2>Order Details</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>

                       <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    <p>@item.P_Name</p>
                                </td>
                                <td>
                                    <h5>x @item.qty</h5>
                                </td>
                                <td>
                                    <p>Rs.@item.P_Totalprice.00</p>
                                </td>
                            </tr>
                            totalPrice += item.P_Totalprice;
                        }
                            <tr>
                                <td>
                                    <h4>Subtotal</h4>
                                </td>
                                <td>
                                    <h5></h5>
                                </td>
                                <td>
                                    <p>Rs.@totalPrice.00</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Shipping</h4>
                                </td>
                                <td>
                                    <h5></h5>
                                </td>
                                <td>
                                    <p>Flat rate: Rs.250.00</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Total</h4>
                                </td>
                                <td>
                                    <h5></h5>
                                </td>
                                <td>
                                    <p>Rs.@(totalPrice+250).00</p>
                                </td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</section>