
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cat = ViewBag.categories;
}
@model IEnumerable<shoes.Models.Product>

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shop</h1>
                <nav class="d-flex align-items-center">
                    <a href="@Url.Action("index","Home")">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="@Url.Action("Shop","Home")">Shop</a>
                </nav>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="sidebar-categories">
                <div class="head">Browse Categories</div>
                <ul class="main-categories">
                    <li class="main-nav-list">
                        <a href="@Url.Action("CategoryProducts","Home", new {@CatName = "New Product"})">
                            <span class="lnr lnr-arrow-right"></span>New Product<span class="number">(@ViewBag.newProductsCount)</span>
                        </a>
                    </li>

                    <li class="main-nav-list">
                        <a href="@Url.Action("CategoryProducts","Home", new {@CatName = "Hot Selling"})">
                            <span class="lnr lnr-arrow-right"></span>Hot Selling<span class="number">(@ViewBag.hotSellingCount)</span>

                        </a>
                    </li>


                    @foreach (var item in cat)
                    {
                        <li class="main-nav-list">
                            <a href="@Url.Action("CategoryProducts","Home", new {@CatName = item.C_name})">
                                <span class="lnr lnr-arrow-right"></span>@item.C_name
                                @{
                                    if (item.C_name == "Sale")
                                    {
                                        <span class="number">(@(ViewBag.newProductsCount))</span>
                                    }

                                    else if (item.C_name == "Bless Friday")
                                    {

                                        <span class="number">(@(ViewBag.DealProductCount))</span>
                                    }
                                }
                            </a>
                        </li>
                    }


                </ul>
            </div>
        </div>

        <div class="col-xl-9 col-lg-8 col-md-7">

            <section class="lattest-product-area pb-40 category-list">
                <div class="row" id="myTable">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-3 col-md-6" id="test">
                            <a href="@Url.Action("ShopDetail","Home", new { @id = item.P_id})">
                                <div class="single-product">
                                    <img class="img-fluid" src="~/assets/uploads/Products/@item.P_img1" alt="@item.P_name">
                                    <div class="product-details">
                                        <h6>
                                            @item.P_name
                                        </h6>
                                        <div class="price">
                                            <h6>@(item.P_dprice != null ? "Rs. "+ item.P_dprice + ".00" : "Rs. " + item.P_price + ".00")</h6>
                                            <h6 class="l-through"> @(item.P_dprice != null ? "Rs. "+ item.P_price + ".00" : "")</h6>
                                        </div>
                                        <div class="prd-bottom">
                                            <a href="@Url.Action("ShopDetail","Home", new { @id = item.P_id})" class="social-info">
                                                <span class="ti-bag"></span>
                                                <p class="hover-text">add to bag</p>
                                            </a>
                                            <a href="@Url.Action("ShopDetail","Home", new { @id = item.P_id})" class="social-info">
                                                <span class="lnr lnr-move"></span>
                                                <p class="hover-text">view more</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                    }

                </div>
            </section>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script>
                $(document).ready(function () {
                    $("#myInput").on("keyup", function () {
                        var value = $(this).val().toLowerCase();
                        $("#myTable .col-lg-3").each(function () {
                            if ($(this).text().toLowerCase().indexOf(value) > -1) {
                                $(this).show();
                            } else {
                                $(this).hide();
                            }
                        });
                    });
                });
            </script>


        </div>
    </div>
</div>


<section class="related-product-area section_gap_bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h1>Deals of the Week</h1>
                    <p>
                        Uncover unbeatable offers with our exclusive 'Deal of the Week,' delivering exceptional discounts on top-rated products every seven days
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">

                <div class="row" id="myUL">
                    @{var dP = ViewBag.DealProduct;
                        foreach (var item in dP)
                        {

                            <div class="col-lg-4 col-md-4 col-sm-6 mb-20" id="test">
                                <div class="single-related-product d-flex">
                                    <a href="@Url.Action("ShopDetail","Home", new { @id = item.P_id})"><img src="~/assets/uploads/Products/@item.P_img1" alt="" style="height:10vh;"></a>
                                    <div class="desc">
                                        <a href="@Url.Action("ShopDetail","Home", new { @id = item.P_id})" class="title">@item.P_name</a>
                                        <div class="price">
                                            <h6>@(item.P_dprice != null ? "Rs. "+ item.P_dprice + ".00" : "Rs. " + item.P_price + ".00")</h6>

                                            <h6 class="l-through">@(item.P_dprice != null ? "Rs. "+ item.P_dprice + ".00" : "")</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    }
                </div>
            </div>



            <div class="col-lg-3">
                <div class="ctg-right">
                    <a href="@Url.Action("CategoryProducts","Home", new {@CatName = "Bless Friday"})">
                        <img class="img-fluid d-block mx-auto" src="~/assets/main/img/category/C5.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

